<!DOCTYPE html>
<html>
<head>
	<title>Prophet Forecast</title>
</head>
<body>
	<h1>Prophet Forecast</h1>
	<form method="post" enctype="multipart/form-data">
		<label for="file">Upload a CSV file:</label>
		<input type="file" id="file" name="file" accept=".csv">
		<br>
		<label for="periods">Periods to forecast:</label>
		<input type="number" id="periods" name="periods" min="1" max="1000" value="30">
		<br>
		<input type="submit" value="Get Forecast">
	</form>
	<div id="forecast-table"></div>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		$(function() {
			$('form').submit(function(event) {
				event.preventDefault();
				var formData = new FormData(this);
				$.ajax({
					type: 'POST',
					url: '/predict',
					data: formData,
					contentType: false,
					processData: false,
					success: function(response) {
						var table = '<table><tr><th>Date</th><th>Forecast</th></tr>';
						response.forEach(function(row) {
							table += '<tr><td>' + row['ds'] + '</td><td>' + row['yhat'] + '</td></tr>';
						});
						table += '</table>';
						$('#forecast-table').html(table);
					}
				});
			});
		});
	</script>
</body>
</html>
